header {
    background-color: rgb(237, 142, 63);
    display: flex;
    justify-content: center;
    padding: 8px;
}

header img {
    width: auto;
    height: 60px;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.main-content {
    width: calc(100% - 300px);
    padding-bottom: 50px;
}

#title-img {
    width: 100%;
    object-fit: cover;
    height: 480px;
}

#rating-img {
    width: 16px;
    height: 16px;
}

#arrow-categories-img {
   width: 32px;
   height: 32px;
}