.basket-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 169, 169);
    flex-grow: 1;
}

.basket {
    width: 100%;
    margin-top: 24px;
    position: sticky;
    top: 24px;
}